#backupd {
  display: none;
}
.tagz {
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 5px;
}
.searchdiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 125px;
  box-shadow: 0 0 10px #ccc;
  background: #000;
  z-index: 9999;
}
#search {
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  top: 80px;
  height: 55px;
  line-height: 55px;
  position: absolute;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}
.datelist {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 120px;
  padding-bottom: 30px;
}
.datelist .empty {
  text-align: center;
  margin-top: 20px;
}
.date {
  font-size: 26px;
  color: #fff;
  line-height: 1.5;
  text-indent: 14px;
  font-weight: bold;
  margin-top: 20px;
}
.dtitle,
.dtitle-active {
  text-indent: 36px;
  font-size: 14px;
  color: #ddd;
  display: block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}
.dtitle-active .del {
  display: none;
}
.dtitle:not(.dtitle-active):hover {
  background: #eee;
  color: #000;
  box-shadow: 0 0 10px #fff;
  width: 100%;
  font-size: 15px;
  z-index: 999;
  opacity: 1;
}
.dtitle-active {
  opacity: 0.5;
}
.dtitle .del {
  color: #fff;
  background: red;
  position: absolute;
  right: -101px;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  text-indent: 0;
  width: 40px;
  font-size: 12px;
  top: 3px;
  border-radius: 5px;
}
.dtitle:hover .del {
  opacity: 1;
  right: 1px;
}
#content img {
  max-width: 100%;
}
#sav1 {
  position: fixed;
  right: 10px;
  bottom: -100px;
  opacity: 0;
  transition: 0.6s;
  z-index: 99;
  background: #f1bd0b;
  box-shadow: 0 0 10px #eee;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
#sav1.show {
  bottom: 10px;
  opacity: 1;
}
#sav1 span {
  font-size: 1px;
  display: inline-block;
  width: 10px;
  height: 5px;
  -webkit-animation: circle 1s infinite linear;
          animation: circle 1s infinite linear;
  background: #fff;
  top: -3px;
  position: relative;
  margin-left: 5px;
}
@-webkit-keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tabc {
  position: absolute;
  left: 25%;
  top: 0;
  right: 0;
  z-index: 199;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  padding-left: 0;
  height: 45px;
  overflow: hidden;
}
.tabs {
  position: relative;
  left: 12px;
  width: 99%;
  word-break: keep-all;
}
.tabs a {
  word-break: keep-all;
  white-space: nowrap;
  margin-bottom: 10px;
  display: inline-block;
}
#inp,
#content {
  position: absolute;
  bottom: 0;
  top: 60px;
  overflow: scroll;
  outline: none;
}
#inp {
  padding: 10px;
  left: 25%;
  width: 35%;
  font-size: 16px;
  white-space: nowrap;
}
.link1 {
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  background: #eee;
  text-decoration: none;
  color: #66f;
}
#content {
  padding: 10px;
  left: 60%;
  right: 0;
  word-break: break-word;
}
.newlink,
.dellink,
#contentDL {
  margin-right: 10px;
  background: #0d60fc;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0!important;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}
.newlink:hover,
.dellink:hover,
#contentDL:hover {
  box-shadow: 0 0 10px #fff;
  opacity: 0.9;
}
.dellink {
  background: red;
}
#contentDL {
  background: purple;
}
#tags1 {
  padding: 5px;
  width: 150px;
  transition: 0.6s;
  border: none;
  background: transparent;
  color: #888;
  border-bottom: 1px solid #888;
  text-align: left;
  outline: none;
  margin-left: 20px;
  font-size: 14px;
}
#curinp {
  padding: 5px;
  font-size: 18px;
  width: 210px;
  transition: 0.6s;
  border: none;
  background: transparent;
  color: #888;
  border-bottom: 1px solid #888;
  text-align: left;
}
#curinp:hover,
#tags1:hover {
  color: #fff;
}
#curinp:focus,
#tags1:focus {
  color: #fff;
  width: 45%;
  outline: none;
}
.focusit {
  -webkit-animation: focusit 0.3s linear;
          animation: focusit 0.3s linear;
}
@-webkit-keyframes focusit {
  0% {
    background: rgba(252, 19, 3, 0.2);
  }
  100% {
    background: rgba(252, 19, 3, 0);
  }
}
@keyframes focusit {
  0% {
    background: rgba(252, 19, 3, 0.2);
  }
  100% {
    background: rgba(252, 19, 3, 0);
  }
}
.content-dl #content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 999;
  background: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-break: break-all;
  padding: 50px 30px;
}
.content-dl #content * {
  word-break: break-all !important;
}
.login {
  position: absolute;
  border: 1px solid #fff;
  color: #fff;
  right: 20px;
  top: 20px;
  padding: 5px;
  border-radius: 5px;
}
.inexport {
  position: absolute;
  left: 5px;
  top: 20px;
  right: 10px;
  height: 20px;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
}
.inexport.text {
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  text-indent: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  top: 10px;
  line-height: 30px;
  right: 90px;
}
.inexport.text .link-space {
  display: block;
  width: 100px;
  font-size: 12px;
  padding: 5px 0;
}
.inexport.btns {
  top: 70px;
  text-align: left;
  left: 20px;
}
.inexport.btns * {
  padding: 2px 7px;
}
.inexport * {
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
}
.inexport .btn-dl {
  background: #f33;
}
.inexport .btn-inp {
  background: #33f;
}
.inexport .btn-gareset {
  background: #ffd81a;
  color: #000 !important;
}
.inexport .btn-initga {
  background: #349268 !important;
  color: #fff !important;
}
.inexport .link-space {
  background: transparent;
  text-decoration: underline;
  display: block;
  color: #0997ea !important;
  font-size: 16px;
  line-height: 1.5;
}
.unset-store {
  position: fixed;
  z-index: 999;
  background: #ca1414;
  border: 1px solid #ff0000;
  color: #fff;
  bottom: 10px;
  opacity: 0.8;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 5px 10px;
}
.tabsr {
  display: none;
}
.tabsr-title {
  font-size: 20px;
  color: #fff;
  width: 100%;
  margin: 5px 10px;
}
.tabsr-tags {
  font-size: 12px;
  color: #fff;
  width: 100%;
  margin: 5px 10px;
  margin-top: 10px;
}
body.readonly .dtitle .del {
  display: none!important;
}
body.readonly #content {
  left: 25%;
  background: #fff;
}
body.readonly #inp {
  display: none;
}
body.readonly .tabs {
  display: none;
}
body.readonly .tabsr {
  display: block;
}
body.readonly #contentDL {
  display: none;
}
.datelist-btn,
.datelist-btn-close {
  display: none;
}
.win-min .datelist {
  width: 100%;
  z-index: 99;
  transition: 0.3s;
  left: -100%;
  opacity: 0;
}
.win-min .datelist .searchdiv {
  width: 100%;
}
.win-min .datelist #lst {
  width: 100%;
}
.win-min .datelist.show {
  left: 0;
  opacity: 1;
  z-index: 299;
}
.win-min .tabc {
  left: 0;
}
.win-min #content {
  left: 0!important;
}
.win-min .datelist-btn {
  display: block;
  float: right;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 5px;
}
.win-min .datelist-btn-close {
  color: #fff;
  float: right;
  display: block;
  font-size: 30px;
  line-height: 43px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.white-btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s;
}
.white-btn:hover {
  color: #000;
  background: #fff;
}
body.readonly.win-min .login {
  right: 10px;
  top: 60px;
}
body.readonly.win-min .datelist-btn {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
}
body.readonly.win-min .tabsr-title {
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
body:not(.readonly).win-min #content {
  display: none;
}
body:not(.readonly).win-min #inp {
  display: block;
  left: 0;
  width: 100%;
  white-space: normal;
  word-break: break-all;
}
body:not(.readonly).win-min .datelist-btn {
  display: none;
}
body:not(.readonly).win-min #tags1 {
  display: none;
}
body:not(.readonly).win-min .datelist {
  left: 0;
  width: 100%;
  opacity: 1;
  top: 100%;
  z-index: 399;
}
body:not(.readonly).win-min .datelist.searchactive {
  top: 0;
}
body:not(.readonly).win-min .datelist.searchactive .datelist-btn-close {
  display: block;
  z-index: 1999;
}
body:not(.readonly).win-min .searchdiv {
  height: 100px;
}
body:not(.readonly).win-min #search {
  top: 10px;
  border-bottom: 1px solid #777;
  width: 80px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  left: 15px;
}
body:not(.readonly).win-min #search:focus {
  left: 0;
  z-index: 999;
  background: #000;
  width: 100%;
  height: 60px;
}
body:not(.readonly).win-min .tabc {
  top: 70px;
}
body:not(.readonly).win-min .datelist-btn-close {
  display: none;
}
body:not(.readonly).win-min .inexport.btns {
  top: 20px;
  width: 200px;
  position: absolute;
  right: 15px!important;
  left: initial;
}
body:not(.readonly).win-min .searchdiv {
  height: 70px;
  box-shadow: 0 0 10px #fff;
}
body:not(.readonly).win-min #inp {
  top: 135px;
}
body:not(.readonly).win-min .inexport.text {
  display: none;
}
body:not(.readonly).win-middle .searchdiv {
  height: 125px;
}
body:not(.readonly).win-middle #search {
  top: 80px;
}
body.win-middle .newlink,
body.win-min .newlink,
body.win-middle .dellink,
body.win-min .dellink,
body.win-middle #contentDL,
body.win-min #contentDL {
  padding: 3px 5px;
}
.resetga-div {
  display: none;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 20px #333;
  width: 400px;
  height: 440px;
  left: 50%;
  top: 50%;
  border: 1px solid #aaa;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px 30px;
  border-radius: 5px;
  z-index: 1259;
}
.resetga-div.a1 .gaqr-1.tx {
  color: blue;
  font-weight: bold;
}
.resetga-div.a1 .gaqr.gaqr-1 {
  display: block;
}
.resetga-div.a1 .ga-next {
  display: block;
}
.resetga-div.a1 .ga-done {
  display: none;
}
.resetga-div.a2 .gaqr-2.tx {
  color: blue;
  font-weight: bold;
}
.resetga-div.a2 .gaqr.gaqr-2 {
  display: block;
}
.resetga-div.a2 .ga-next {
  display: none;
}
.resetga-div.a2 .ga-done {
  display: block;
}
.resetga-div .tip {
  font-size: 16px;
  line-height: 1.5;
}
.resetga-div .tx {
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: 1.5;
  color: #000;
  font-size: 14px;
}
.resetga-div .gaqr {
  width: 100%;
  margin: 30px 0;
  display: none;
}
.resetga-div .gaqr * {
  display: block;
}
.resetga-div .gaqr textarea {
  width: 370px;
  height: 70px;
  padding: 10px;
  font-size: 16px;
  margin-top: -25px;
}
.resetga-div .gaqr div {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.resetga-div .ga-done {
  color: #00f;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  margin-top: -10px;
}
.resetga-div .ga-next {
  color: #333;
  text-align: center;
  font-size: 16px;
  margin-top: -10px;
}
.body-mask {
  display: none;
  z-index: 188;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #FFF;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #AAA;
}
.github-io .link-space,
.github-io #search,
.github-io .login {
  display: none!important;
}
.description {
  color: #ddd;
  position: absolute;
  top: 70px;
  left: 0;
  text-indent: 20px;
  right: 10px;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.github-io .description {
  color: #ddd;
  position: absolute;
  top: 50px;
  left: 0;
  text-indent: 20px;
  right: 10px;
  height: 50px;
  line-height: 25px;
  padding-left: 20px;
  word-break: break-all;
  padding-right: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
